body {
    background: grey;
}

#delete{
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
    display: inline-block;
}
h5{
    font-size: 1em;
    color: darkblue;
    display: inline-block;
}